/* background-color: rgba(48, 201, 232, 1); */
/* background-color: rgba(255, 68, 48, 1); */
/* background-color: rgba(58, 74, 77, 1); */
/* background-color: rgba(249, 251, 251, 1); */

.collapsible-header {
	cursor: pointer;
	outline: none;
	user-select: none;
	border: solid 1px #f2f2f2;
	padding: 5px;

	/* background-color: #0089cc;
	color: #fff; */

	background-color: rgba(58, 74, 77, 1);
	color: rgba(249, 251, 251, 1);

	font-family: verdana;
	/* text-align: end; */

	margin-top: 1px;
	margin-left: auto;
	margin-right: 20px;

	width: 20%;
	min-width: 120px;
	/* width: fit-content; */

	position: relative;
}

.collapsible-header.active {
	border: none;
}

/* down arrow */
.collapsible-header::after {
	content: '';
	position: absolute;
	right: 5%;
	top: 40%;
	/* transform: translate(0%, 40%); */

	border: 8px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/* up arrow */
.collapsible-header.active::after {
	top: 10%;
	border-color: transparent transparent #fff transparent;
}

.collapsible-content {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	/* margin-left: auto;
	margin-right: 20px; */
}
