/* background-color: rgba(48, 201, 232, 1); */
/* background-color: rgba(255, 68, 48, 1); */
/* background-color: rgba(58, 74, 77, 1); */
/* background-color: rgba(249, 251, 251, 1); */

.screen-header {
	/* overflow: hidden; */
	/* background-color: #f1f1f1; */
	background-color: rgba(58, 74, 77, 1);
	color: rgba(249, 251, 251, 1);

	/* background-color: rgba(48, 201, 232, 1);
	color: rgba(58, 74, 77, 1); */

	/* color: white; */
	padding: 10px 10px;
	grid-row: 1;
	box-sizing: border-box;
	height: 40px;
	user-select: none;
	/* position: relative; */

	position: sticky;
	top: 0;
	z-index: 5;
}

.screen-header.ascending::after {
	content: '';
	position: relative;
	left: 2%;
	top: 85%;
	border: 8px solid transparent;
	border-color: rgb(0, 0, 0) transparent transparent transparent;
}

.screen-header.descending::after {
	content: '';
	position: relative;
	left: 2%;
	bottom: 85%;
	border: 8px solid transparent;
	border-color: transparent transparent rgb(0, 0, 0) transparent;
}
