button.add-column-button {
	border: none;
	border-bottom: 1px solid black;
	margin-bottom: -1px;
	width: 35px;

	position: relative;
}

.add-column-icon {
	position: absolute;

	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	width: 80%;
	height: 50%;

	cursor: pointer;
}

.add-column-icon:hover {
	color: green;
	/* background-color: white; */

	transform: scale(1.1);
}
