.radarscreen {
	margin-top: 30px;
	margin-left: 10px;
}

#grid-container {
	width: 90%;
	display: grid;
	/* grid-gap: 1px; */

	/* margin-left: -1px; */
	border-bottom: 1px solid black;
	border-left: 1px solid black;

	position: relative;
}

button {
	outline: none;
	cursor: pointer;
}

.value-cell {
	background-color: orange;
	/* border: 0.5px solid rgba(0, 0, 0, 0.8); */
	height: 40px;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: center;
}

#grid-container > .value-cell,
#grid-container > .screen-header,
#grid-container > .add-column-button {
	/* padding: 15px; */
	text-align: center;
	border-top: 1px solid black;
	border-right: 1px solid black;
}
