.radarscreen {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 20px;
	display: flex;

	/* for sizing and scrolling */
	/* height: 500px; */
	/* overflow: auto; */
	position: relative;

	flex-direction: column;
}

#grid-container {
	/* for sizing and scrolling: need to do the same for the other grids, change height setting */
	/* height: 100%; */

	/* max-height: 400px; */
	/* overflow: scroll; */

	width: 100%;
	display: grid;
	/* grid-gap: 1px; */

	/* margin-left: -1px; */
	border-bottom: 1px solid black;
	border-left: 1px solid black;

	/* grid-gap: 1px; */

	position: relative;
}

button {
	outline: none;
	cursor: pointer;
}

#number-symbols {
	margin-left: -1px;
	height: 31px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color: darkgrey;

	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
/* #grid-container > .dropdown-container, */
#grid-container > .value-cell,
#grid-container > .screen-header,
#grid-container > .add-column-button,
#grid-container > .filter-symbols-button,
#grid-container > .indexation {
	text-align: center;
	border-top: 1px solid black;
	border-right: 1px solid black;

	/* box-shadow: 0 0 0 1px; */
}

#last-screen-row-grid {
	display: grid;
	/* margin-right: 15px; */
	/* grid-gap: 1px; */

	/* margin-left: -1px; */
	/* border-top: 1px solid black; */
	/* border-right: 1px solid black; */

	/* border-bottom: 1px solid black; */
	border-left: 1px solid black;
}

/* #indexation-grid {
	display: grid;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
} */

/* #indexation-grid > .indexation {
	text-align: center;
	border-top: 1px solid black;
	border-right: 1px solid black;
} */
